<!--ユーザ側／ハッシュタグ検索結果画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">

      <h4 class="text-center mx-auto mb-4">#<%= @hashtag.name %></h4>

      <!--ハッシュタグ検索結果一覧-->
      <%= render "public/posts/index", posts: @posts %>

    </div>
  </div>
</div>