// $primary: #007bbb;紺碧
// $secondary: #941f57;クラレっと
// $success: #c3d825;若草色
// $danger: #d7003a;くれない
// $warning: #fcc500;あざやかな黄系の色
// $info: #2cd4ab;強い緑系の色
// $light: #f8f9fa;やや灰色い青紫系の色
// $dark: #4e454a;チャコールグレイ

// #f7f6f5 パールホワイト
// #fafdff スノーホワイト
// #f7fcfe 卯の花色

@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4e454a; //チャコールグレイ
}

a {
  color: #00608d; //マドンナブルー
}

a:hover {
  color: #941f57; //クラレッと
  text-decoration: none;
}

// ヘッダー用
// .navbar {
//   background-color: #f7f6f5; //パールホワイト
// }

.nav-item i {
  margin-right: 10px;
}

.vertical_center {
  display: flex;
  align-items: center;
}

// .card {
  // width: auto;
  // background-color: #f8f9fa;}

// 各画面のタイトル用
.title {
  margin-bottom: 30px;
  border-bottom: 2px solid #4e454a; //チャコールグレイ
}

// プロフィール
.profile-content {
  height: 200px;
}

// ユーザ一覧画面のテーブル用
.table-container {
  display: table;
  margin: 0 auto;
}

.table-row {
  display: table-row;
  padding: 8px;
  border-bottom: 1px solid #cccccc;
}

.table-row:hover {
  background-color:#abced8;
}

.table-cell {
  display: table-cell;
  padding: 8px
  }

// 投稿詳細画面用
.postdetail-name {
  margin-bottom: 20px;
  border-bottom: 2px solid #f8f9fa;
  display: flex;
  justify-content: space-between;
}
.fontawesome-button {
  font-size: 25px;
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  border-top: 1px solid #f8f9fa;
}

// margin-top: auto;とどっちがいいか