$success: #54917f;// アンティークグリーン
$danger: #941f57; //クラレット
$dark: #4e454a;//チャコールグレイ

@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4e454a; //チャコールグレイ
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

a {
  color: #98605e; //ココアブラウン
}

a:hover {
  color: #941f57; //クラレット
  text-decoration: none;
}

// ヘッダー用
// .navbar {
//   background-color: #f7f6f5; //パールホワイト
// }

// .nav-item i {
//   margin-right: 10px;
// }

// .vertical_center {
//   display: flex;
//   align-items: center;
// }

// .card {
  // width: auto;
  // background-color: #f8f9fa;}
  
  
// サイドバー
#sticky-sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0;
  transition: left 2s;
  z-index: 100;
}

.sidebar-closed #sticky-sidebar {
  left: -300px;
}

.sidebar-closed .sidebar-trigger {
  display: block; /* サイドバーが非表示のときにトリガーを表示 */
}

#sidebar-menu li {
  list-style: none;
  margin: 30px 0;
  font-size: 20px;
}




// プロフィール
.profile-content {
  height: 200px;
}

// ユーザ一覧画面のテーブル用
.users-index-table {
  height: 150px;
}

.users-index-table:hover {
  background-color:#f8f9fa;
}

// 投稿詳細画面用
.postdetail-name {
  margin-bottom: 20px;
  border-bottom: 2px solid #f8f9fa;
  display: flex;
  justify-content: space-between;
}
.fontawesome-button {
  font-size: 25px;
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}

// margin-top: auto;とどっちがいいか