<!--ユーザ側／お気に入り一覧画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">

      <h4 class="text-center mx-auto mb-4"><%= current_user.name %>のお気に入り</h4>

      <!--お気に入り投稿一覧-->
      <%= render "public/posts/index", posts: @posts %>

    </div>
  </div>
</div>