<!--ユーザ側／ユーザ一覧画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2 class="mb-4">ユーザーリスト</h2>
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <div id="users-index-table" class="row justify-content-center align-items-center">
              <span class="col-sm text-center mx-2">
                <%= image_tag user.get_profile_image(100,100), class: "rounded-circle shadow" %>
              </span>
              <span class="col-sm text-center mx-2">
                <%= user.name %>
              </span>
              <span class="col-sm text-center mx-2">
                <i class="fas fa-play"></i> 投稿を見る
              </span>
            </div>
          <% end %>
        <% end %>

    </div>
  </div>
</div>